:root{
    --blue:#39517b;
    --font:#f4ffff;
   --grey:#f3f5f9;
    --primary: #4abae0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
 text-decoration: none;
  
}
li{
    padding: 0 20px;
  
}
.logo-home{
    margin-right: 40VW;
    text-transform: uppercase;
    color: #f4ffff;
    letter-spacing: 2px;
    font-weight: lighter;
}
.text-home{
    margin-top: 35vh;
    margin-left: 5vw;
   color: #f4ffff;
   
     
}
.container-home-big{
    background-color: #39517b;
    height: 100vh;
}
.h1-text-home{
    margin-bottom: 2vh;
    width: 400px;
    font-size: 50px;
}
.p-text-home{
    margin-bottom: 3vh;
    width: 500px;
    font-size: 30px;
    color: #f3f5f9;
  
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}